# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
*.env

# Streamlit secrets
.streamlit/secrets.toml

# FAISS artifacts (optional, can be regenerated)
*.faiss

# OS-specific
.DS_Store
Thumbs.db

# VSCode or PyCharm settings (optional)
.vscode/
.idea/

.streamlit/firebase_key.json
